MoziKliens/MoziKliens/Connected Services/MoziService/Service131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoziService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoziService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceData" nillable="true" type="tns:ServiceData" />
  <xs:complexType name="ArrayOfFilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Film" nillable="true" type="tns:Film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilm" nillable="true" type="tns:ArrayOfFilm" />
  <xs:complexType name="Film">
    <xs:sequence>
      <xs:element minOccurs="0" name="cim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hossz" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mufaj" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Film" nillable="true" type="tns:Film" />
  <xs:complexType name="ArrayOfFoglalas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Foglalas" nillable="true" type="tns:Foglalas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoglalas" nillable="true" type="tns:ArrayOfFoglalas" />
  <xs:complexType name="Foglalas">
    <xs:sequence>
      <xs:element minOccurs="0" name="filmId" type="xs:int" />
      <xs:element minOccurs="0" name="foglalasIdopontja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Foglalas" nillable="true" type="tns:Foglalas" />
</xs:schema>